### AL ###
# 모든 것을 무시
*

# 예외 처리: .py 파일은 무시하지 않음
!*.py
!*.ipynb

# 예외 처리: .gitignore 파일 자체는 무시하지 않음
!.gitignore

# 프로젝트 루트에 있는 특정 파이썬 파일(예: main.py)을 포함하려면 추가
# !/main.py

# 하위 디렉터리의 파이썬 파일도 포함하도록 설정
# !*/
# !*/*.py
